link(rel='stylesheet', type='text/css', href='/css/sh/shThemeDefault.css')
script(src='/js/index.js', type='text/javascript')

div.left.ribbon-holder
  a.white.ribbon(href="https://github.com/gaving/pastebin.js")
    span.text fork

#status
  span.pastes
    a.stats( href='/' )
      span
  span.new
    a( href='/pastes/new' )
      img(src='/img/new.png', title='new paste')

section#content
  #pastes
    - for (var d in pastes)
      div.paste
        script(type='syntaxhighlighter', class='brush: ' + pastes[d].lang)=pastes[d].body
        div.info
          - if (pastes[d].gravatar)
          span.avatar
            img(src=pastes[d].gravatar)
          a.title(id='paste-' + pastes[d].id, href='/pastes/' + pastes[d].id)=pastes[d].lines + " lines"
            - if (pastes[d].title)
              span=" (" + pastes[d].title + ")"
          div.date(title=pastes[d].date)
            a(href='/pastes/' + pastes[d].id)=pastes[d].relative
          div.clear
